{{- if .Values.keycloak.enabled }}
apiVersion: v1
kind: Service
metadata:  
  name: svc-{{ .Values.keycloak.metaname }}
  namespace: {{ .Values.keycloak.namespace }}
  labels:    
    app: {{ .Values.keycloak.nameOverride | default "keycloak" }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.keycloak.nameOverride | default "keycloak" }}
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: https
      port: 443
      protocol: TCP
      targetPort: 8443
    - name: management
      port: 9000
      protocol: TCP
      targetPort: 9000
{{- end }}
