{{- if .Values.operator.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.operator.fullnameOverride | default "keycloak-operator" }}
  namespace: {{ .Values.operator.namespace }}
spec:
  replicas: {{ .Values.operator.replicas | default 1 }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.operator.nameOverride | default "keycloak-operator" }}
  template:
    metadata:      
      labels:
        app.kubernetes.io/managed-by: quarkus
        app.kubernetes.io/name: {{ .Values.operator.nameOverride | default "keycloak-operator" }}
        app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    spec:
      serviceAccountName: {{ .Values.operator.fullnameOverride | default "keycloak-operator" }}
      containers:
        - name: keycloak-operator
          env:
            - name: WATCH_NAMESPACE
              value: {{ .Values.operator.namespace }}
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: RELATED_IMAGE_KEYCLOAK
              value: {{ .Values.operator.keycloakImage | quote }}
          image: "{{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag }}"
          imagePullPolicy: {{ .Values.operator.image.pullPolicy | default "Always" }}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          startupProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/started
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
{{- end }}
